<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8998646071-i3o474570laiu9vbb2bpl8fndmfjh9a2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8998646071-i3o474570laiu9vbb2bpl8fndmfjh9a2</string>
	<key>API_KEY</key>
	<string>AIzaSyCErDT5eaS85PeXeD7on8zLnsyLuVHoeZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>8998646071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kasiwa.IntervalWalk</string>
	<key>PROJECT_ID</key>
	<string>intervalwalk</string>
	<key>STORAGE_BUCKET</key>
	<string>intervalwalk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8998646071:ios:6c33b6f9e4b618f5022ab2</string>
</dict>
</plist>